services:
  minio:
    image: quay.io/minio/minio
    container_name: minio-local
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes:
      # ใช้ ./ เพื่อให้เก็บข้อมูลไว้ในโฟลเดอร์ infra/minio_data
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    restart: always
